.add_med_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: lightgray url('../assets/background.jpg') 50% / cover no-repeat;
}

.add_med_container .displayer{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add_med_container i {
    position: absolute;
    top: 1vh;
    left: 1vh;
    font-size: 3vh;
    color: var(--primary);
}

.add_med_container h1 {
    position: absolute;
    text-align: center;
    top: 5vh;
    font-size: 2.5vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    z-index: 2;
    margin-top: 30vh;
}

form input, select{
    margin-bottom: 2vh;
    width: 60vw;
    height: 5vh;
    font-size: 2vh;
    align-self: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.add_med_container form{
    position: absolute;
    top: -15vh;
}

.add_med_container form p{
    color: var(--primary);
    font-size: 2vh;
}

.add_med_container .buttons_container{
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: inherit;
    align-self: center;
}

.add_med_container .buttons_container p{
    font-size: 2vh;
}

form .buttons_container button {
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
}

.displayer > .buttons_container {
    margin-bottom: -15vh;
}

.displayer > .buttons_container button {
    width: 70vw;
    height: 5vh;
    font-size: 2.5vh;
}

@media screen and (min-width: 1000px){
    .add_med_container .displayer{
        height: 80vh;
        width: 70vw;
    }

    .add_med_container h1 {
        top: 3vh;
        font-size: 4vh;
    }

    .add_med_container i{
        top: 3vh;
        left: 3vh;
        font-size: 4vh;
    }

    form .buttons_container button {
        width: 10vw;
        height: 8vh;
        font-size: 3vh;
    }

    .displayer > .buttons_container button {
        width: 40vw;
        height: 8vh;
        font-size: 3vh;
    }
}