/* variables */

:root{
    --primary: #2A1E72;
    --secondary:  #787CDA;
    --tertiary: #E4E4F9;
    --quaternary: #211098;
    --background-image: url('../assets/background.jpg');
}

/* reset */

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */
body{
    background: var(--tertiary);
    font-family: 'Scada-Bold';
}

.button{
    background: rgba(42, 30, 114, 0.69);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    padding: 3vh 2vw;
    width: 100%;
    font-size: 3vw;
    line-height: 1.5;
    border: none;
    color: var(--primary);
    margin: 1em;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pill_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20vh;
    position: relative;
    margin-top: -70vh;
    background-color: rgba(168, 169, 190, 0.85);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover{
    background: var(--secondary);
    cursor: pointer;
}

.common-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: lightgray var(--background-image) 50% / cover no-repeat;
}

.displayer{
    background: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    padding: 2%;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

input, textarea, select{
    background: #8AA1B3;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    color: #f2f2f2;
}

/* fonts */
@font-face {
    font-family: 'Scada-Bold';
    src: url('../assets/fonts/Scada-Bold.ttf');
}

@font-face {
    font-family: 'Scada-Regular';
    src: url('../assets/fonts/Scada-Regular.ttf');
}

h1,h2,h3,h4{
    color: var(--primary);
    font-style: normal;
    line-height: normal;
}

p, li{
    font-family: 'Scada-Regular';
    color: var(--primary);
}

a {
    color: var(--primary);
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1em;
}

h3{
    font-size: 1.2em;
}

h4{
    font-size: 2.5em;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

